.logo {
  padding: 1.5em !important;
}

span.logos > a > span {
  overflow: inherit !important;
}

.logo.yhp:hover {
  filter: drop-shadow(0 0 2em #396cd8);
}

.logo.ethereal:hover {
  filter: drop-shadow(0 0 2em #396cd8);
}
.logo.celestial:hover {
    filter: drop-shadow(0 0 2em #396cd8);
}
/* @media (prefers-color-scheme: dark) {
  .logo.celestial:hover {
    filter: drop-shadow(0 0 2em #61dafb);
  }
} */
